<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact US</title>

    <!-- Bootstrap -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body background="../static/img/background.jpg">
  <div class="container">
      <div class="page-header">
          <h1>Tell Us Your Experience About the product <small></small></h1>
      </div>

      <div class="container col-lg-8">
          <div class="container">
              <p class="lead text-left">Please let's us Know your review about the product. *</p>
          </div>
          <br>
          <div class="container">
              <p class="lead text-center">Your Comment</p>
              <textarea class="form-control" id="comment" rows="5"></textarea>
          </div>
          <br>
          <div class="container">
              <button id="go-to-amazon-comment" type="button" class="btn btn-primary">CLICK HERE TO COPY AND GO TO AMAZON FOR COMMENT</button>
          </div>



      </div>
    <script>
        jQuery(document).ready(function () {
            $('#go-to-amazon-comment').on('click', function () {
                var comment=document.getElementById("comment");
                comment.select()
                document.execCommand("Copy");
                window.location.href = "https://www.amazon.com/";
            });
        });
    </script>
  </div>
  </body>
</html>