<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

  </head>
  <body background="../static/img/background.jpg">
      <div class="container">
          <div class="page-header">
              <h1>Looks like something went wrong. <small></small></h1>
          </div>
          <br>

    </div>
  </body>
</html>