<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact US</title>

    <!-- Bootstrap -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>




  <body background="../static/img/background.jpg">
  <div class="container">
      <div class="page-header">
          <h1>Would you share your experience with others?<small></small></h1>
      </div>

      <div class="container">
          <div class="container">
              <p class="lead text-left">Thanks!  Would you try to share your experience with others and
                  leave a real comment on the amazon? It won't take long, just for a few seconds, but it will
                  really help us to keep offering these amazing products to our preferred customers.</p>
          </div>
          <br>
          <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option1" checked onclick="comment()">
                Yes, I will
              </label>
          </div>

          <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"  onclick="end_access()">
                No, I don't
              </label>
          </div>


          <br>

          <div class="container hidden">
              <label id="sign">comment</label>
          </div>

          <div class="container hidden">
              <label id="shop-address">{{email}}</label>
          </div>
          <div class="container hidden">
              <label id="end-access">{{ end_access }}</label>
          </div>
          <div class="container hidden">
              <label id="comment-us">{{ submit }}</label>
          </div>
          <div class="container" id="button1" onclick="on_click()">
              <button id="go-to-comment" type="button" class="btn btn-primary">NEXT STEP</button>
          </div>



      </div>

      <script>
          function comment(){
                console.log("----");
                var label_sign = document.getElementById("sign");
                label_sign.innerHTML = "comment";
            }

           function end_access(){
                console.log("----");
                var label_sign = document.getElementById("sign");
                label_sign.innerHTML ="end";
            }

            function on_click() {
                console.log("+++++");
                var email_lable = document.getElementById("shop-address");
                var email_address = email_lable.innerText.trim();
                var comment_us = document.getElementById("comment-us");
                var uri_us = comment_us.innerText.trim();
                var end_us = document.getElementById("end-access");
                var uri_end = end_us.innerText.trim();
                var label_sign = document.getElementById("sign");
                var access_sign = label_sign.innerText.trim();
                if(access_sign === "comment"){
                    console.log(uri_us + "?shop_email=" + email_address)
                    window.location.href = uri_us + "?shop_email=" + email_address;
                }else if(access_sign === "end"){
                    window.location.href = uri_end;
                }else{
                    console.log("access uri error !");
                }
            }
      </script>
  </div>
  </body>
</html>