<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="margin: 0 auto;padding: 20%;">
    <h1>Questionnaire Survey</h1>

    <div>

    <form method='post'>
        <label for="FirstName">FirstName</label><input id="first_name" name="first_name" required type="text" value=""><br>
        <label for="LastName">LastName</label><input id="last_name" name="last_name" required type="text" value=""><br>
        <label for="Email">Email</label><input id="email" name="email" required type="text" value=""><br>
        <label for="AmazonOrderNum">AmazonOrderNum</label><input id="order_num" name="order_num" required type="text" value=""><br>
        <label for="Score">Score</label><input id="score" name="score" required type="text" value=""><br>
        <input id="submit" name="submit" type="submit" value="Submit"><br>
    </form>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>